# coding: utf-8

"""
    FIO API

    FIO REST API.  Instructions for testing the API:  1) Click on /auth/login endpoint  2) Click the `Try it out` button  3) Enter your credentials into the JSON payload  4) Copy the resultant value for `AuthToken` (the GUID inside the quotes)  5) Click on `Authorize` and paste in the AuthToken  6) Commands with the lock icon will now function, assuming appropriate parameters/settings are present   # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fio_sdk.api_client import ApiClient


class LocalmarketApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def localmarket_company_company_get(self, company, **kwargs):  # noqa: E501
        """Retrieves all ads found by specified Company  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_company_company_get(company, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str company: Can be any of the following: 1) CompanyId 2) CompanyId 3) CompanyName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_company_company_get_with_http_info(company, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_company_company_get_with_http_info(company, **kwargs)  # noqa: E501
            return data

    def localmarket_company_company_get_with_http_info(self, company, **kwargs):  # noqa: E501
        """Retrieves all ads found by specified Company  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_company_company_get_with_http_info(company, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str company: Can be any of the following: 1) CompanyId 2) CompanyId 3) CompanyName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['company']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_company_company_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'company' is set
        if ('company' not in params or
                params['company'] is None):
            raise ValueError("Missing the required parameter `company` when calling `localmarket_company_company_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'company' in params:
            path_params['Company'] = params['company']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/company/{Company}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_local_market_id_get(self, local_market_id, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for the provided LocalMarketId  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_local_market_id_get(local_market_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str local_market_id: The MarketId (see payload in FIORest) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_local_market_id_get_with_http_info(local_market_id, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_local_market_id_get_with_http_info(local_market_id, **kwargs)  # noqa: E501
            return data

    def localmarket_local_market_id_get_with_http_info(self, local_market_id, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for the provided LocalMarketId  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_local_market_id_get_with_http_info(local_market_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str local_market_id: The MarketId (see payload in FIORest) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['local_market_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_local_market_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'local_market_id' is set
        if ('local_market_id' not in params or
                params['local_market_id'] is None):
            raise ValueError("Missing the required parameter `local_market_id` when calling `localmarket_local_market_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'local_market_id' in params:
            path_params['LocalMarketId'] = params['local_market_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/{LocalMarketId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_planet_planet_get(self, planet, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for provided Planet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_planet_planet_get(planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_planet_planet_get_with_http_info(planet, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_planet_planet_get_with_http_info(planet, **kwargs)  # noqa: E501
            return data

    def localmarket_planet_planet_get_with_http_info(self, planet, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for provided Planet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_planet_planet_get_with_http_info(planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['planet']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_planet_planet_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'planet' is set
        if ('planet' not in params or
                params['planet'] is None):
            raise ValueError("Missing the required parameter `planet` when calling `localmarket_planet_planet_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'planet' in params:
            path_params['Planet'] = params['planet']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/planet/{Planet}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_planet_planet_type_get(self, planet, type, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for provided Planet and specified type  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_planet_planet_type_get(planet, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :param str type: Can be any of the following: 1) BUY | BUYS | BUYING 2) SELL | SELLS | SELLING 3) SHIP | SHIPPING  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_planet_planet_type_get_with_http_info(planet, type, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_planet_planet_type_get_with_http_info(planet, type, **kwargs)  # noqa: E501
            return data

    def localmarket_planet_planet_type_get_with_http_info(self, planet, type, **kwargs):  # noqa: E501
        """Retrieves LocalMarket data for provided Planet and specified type  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_planet_planet_type_get_with_http_info(planet, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :param str type: Can be any of the following: 1) BUY | BUYS | BUYING 2) SELL | SELLS | SELLING 3) SHIP | SHIPPING  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['planet', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_planet_planet_type_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'planet' is set
        if ('planet' not in params or
                params['planet'] is None):
            raise ValueError("Missing the required parameter `planet` when calling `localmarket_planet_planet_type_get`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `localmarket_planet_planet_type_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'planet' in params:
            path_params['Planet'] = params['planet']  # noqa: E501
        if 'type' in params:
            path_params['Type'] = params['type']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/planet/{Planet}/{Type}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_post(self, **kwargs):  # noqa: E501
        """Posts LOCAL_MARKET_DATA_DATA data payload  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def localmarket_post_with_http_info(self, **kwargs):  # noqa: E501
        """Posts LOCAL_MARKET_DATA_DATA data payload  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/localmarket', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_search_post(self, body, **kwargs):  # noqa: E501
        """Searches all local markets for a given material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_search_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LocalMarketSearch body: The search paremeters (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_search_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_search_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def localmarket_search_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Searches all local markets for a given material  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_search_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LocalMarketSearch body: The search paremeters (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_search_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `localmarket_search_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_shipping_destination_destination_planet_get(self, destination_planet, **kwargs):  # noqa: E501
        """Retrieves shipping LocalMarket data for the provided Planet where the drop-off location is DestinationPlanet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_shipping_destination_destination_planet_get(destination_planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str destination_planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_shipping_destination_destination_planet_get_with_http_info(destination_planet, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_shipping_destination_destination_planet_get_with_http_info(destination_planet, **kwargs)  # noqa: E501
            return data

    def localmarket_shipping_destination_destination_planet_get_with_http_info(self, destination_planet, **kwargs):  # noqa: E501
        """Retrieves shipping LocalMarket data for the provided Planet where the drop-off location is DestinationPlanet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_shipping_destination_destination_planet_get_with_http_info(destination_planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str destination_planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['destination_planet']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_shipping_destination_destination_planet_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'destination_planet' is set
        if ('destination_planet' not in params or
                params['destination_planet'] is None):
            raise ValueError("Missing the required parameter `destination_planet` when calling `localmarket_shipping_destination_destination_planet_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'destination_planet' in params:
            path_params['DestinationPlanet'] = params['destination_planet']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/shipping/destination/{DestinationPlanet}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def localmarket_shipping_source_source_planet_get(self, source_planet, **kwargs):  # noqa: E501
        """Retrieves shipping LocalMarket data for the provided Planet where the pick-up location is SourcePlanet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_shipping_source_source_planet_get(source_planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str source_planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.localmarket_shipping_source_source_planet_get_with_http_info(source_planet, **kwargs)  # noqa: E501
        else:
            (data) = self.localmarket_shipping_source_source_planet_get_with_http_info(source_planet, **kwargs)  # noqa: E501
            return data

    def localmarket_shipping_source_source_planet_get_with_http_info(self, source_planet, **kwargs):  # noqa: E501
        """Retrieves shipping LocalMarket data for the provided Planet where the pick-up location is SourcePlanet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.localmarket_shipping_source_source_planet_get_with_http_info(source_planet, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str source_planet: Can be any of the following: 1) PlanetId 2) PlanetNaturalId 3) PlanetName  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['source_planet']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method localmarket_shipping_source_source_planet_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'source_planet' is set
        if ('source_planet' not in params or
                params['source_planet'] is None):
            raise ValueError("Missing the required parameter `source_planet` when calling `localmarket_shipping_source_source_planet_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'source_planet' in params:
            path_params['SourcePlanet'] = params['source_planet']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/localmarket/shipping/source/{SourcePlanet}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
